.main-text {
  text-align: center;
}
.main-text h2 {
  font-size: var(--h2-front);
  margin-bottom: 10px;
}
.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}
.box {
  padding: 45px;
  background: #202020;
  border-top: 5px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  cursor: pointer;
  height: 100%;
}
.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px;
  transition: all 0.4s ease;
}
.box p {
  color: var(--second-color);
  font-size: var(--p-front);
  line-height: 30px;
}
.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--main-color);
  box-shadow: 0px 2px 22px rgb(234 205 252);
}
.box:hover h3 {
  color: var(--main-color);
}
