* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1c1c1c;
  --text-color: #fff;
  /* --main-color: linear-gradient(to right, #5c5959, #ffffff, #5c5959); */
  --main-color: #bf00ff;
  --second-color: #e8cfff;
  --h1-front: 5.2rem;
  --h2-front: 3.5rem;
  --p-front: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
