.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.about-text h2 {
  font-size: var(--h2-front);
}
.about-text p {
  color: var(--second-color);
  font-size: var(--p-front);
  line-height: 30px;
  margin-bottom: 2rem;
}

.about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.about-in h5 {
  font-size: 25px;
  font-weight: 600;
}

.about-img {
  direction: rtl;
  margin-right: 7rem;

  transition: all 1s ease;
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 460px;
  background: linear-gradient(
    308deg,
    black,
    black,
    transparent,
    transparent,
    transparent
  );
  filter: grayscale(1);
  cursor: pointer;
  transition: all 1s ease;
}
.about-img img:hover {
  filter: grayscale(0);
}
